db
__pycache__
temp_downloads
*.pdf
uploads
uploaded_files
db1
analysis_reports
actions_reports
sentiment_reports
reports
attention_log.txt
transcriptions
audio_logs
faces
reports
*.log
*.csv
*.json
user_voiceprints
voice_embeddings_db
.env
mentalhealthcare-hbij-1160f988e5bd.jsonmentalhealthcare-hbij-1160f988e5bd.json